body {
	margin: 0 auto ;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase; 
    color: #333;
    background-color: #f2f2f2;
    box-shadow: 0 5px 15px rgba(0,1,1,0.2);
    max-width: 1200px;   
}

html {
	box-sizing: border-box; 
}

*, 
*::before,
 *::after { 
 	box-sizing: inherit; 
 }

.inner-page {
	
	background-color: #fefefe;
	background-image: url("../img/hotel_background.jpg");
	background-repeat: no-repeat;
	background-position: top center;

 }

a {
	text-decoration: none;
}

.navigation {
	line-height: 26px;
	font-weight: 700;
	color: #000;
	background-color: #ffffff;
}

.left,
.right {
	list-style: none;
}

.left a,
.right a {
	color: #000;
}

.left a:hover,
.left a:focus,
.right a:hover,
.right a:focus {
	color: #81b3d2;
}

.left a:active,
.right a:active {
	color: #cacaca;
}

.main {
	text-align: center;
	background-color: #fff;
}

.intro {
	line-height: 26px;
}

.intro h1{
	font-size: 21px;
}

.city,
.bridge {
	color: #fff;
	background-color: #81b3d2;
}

.city h3,
.bridge h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
}
.main b {
	font-weight: 400;
}

.last-reasons {
	background-color: #eeeeee; 
}


.text-form .question  {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
}
.text-form {
	line-height: 24px;
}

.button {
	font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    border: none;
    color: #fff;

}

.find-hotels label{
	color: #000;
	font-weight: 700;
	line-height: 26px;
}

.find-hotels-btn {
	background-color: #766357;
}

.find-hotels-btn:hover {
	background-color: #604e43;
}

.find-hotels-btn:active {
	color: #827872;
	background-color: #503e33;
}

.submit-btn {
	background-color: #81b3d2;
}

.submit-btn:hover {
	background-color: #669ec0;
}

.submit-btn:active {
	color: #68a0c3;
	background-color: #5496bd;
}

.find-hotels input {
	font: inherit;
	border: none;
	background-color: #f2f2f2;
	line-height: 26px;
	font-weight: 700;
}

.find-hotels input:hover {
	background-color: #ebebeb;
}

.find-hotels input:focus {
	background-color: #ffffff;
	border: solid 3px #eee;
}



.inner-page .current-page {
	color: #978a83;
}

.filter {
	color:#fff;
}

.filter legend {
	font-size: 16px;
	font-weight: 700;
}

.filter fieldset {
	border: none;
}

.filter ul {
	list-style: none;
}

.filter input:disabled + label {
	color: #6a6a6a;
}

.hostels {
	background: #fefefe
}

.filter-price {
	font-size: 16px;
	font-weight: 700;
}

.count-find {
	font-weight: 700;
	font-size: 21px;
	line-height: 26px;
}

.show-btn {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	border: 3px solid #fff;
	border-radius: 5%;
	background-color: transparent;
	width: 132px;
	height: 32px;
}

.show-btn:hover {
	background-color: #fff;
	color: #000;
}

.hostels-sort,
.hostels-by-price,
.hostels-by-type,
.hostels-by-rating,
.sort-ascending,
.sort-by-decreasing {
	font-size: 12px;
	line-height: 18px;
}
 
.hostels-by-price,
.hostels-by-type,
.hostels-by-rating {
	color: #cacaca;
	border-bottom: dotted 1px #81b3d2;
}

.hostels-by-price:hover,
.hostels-by-type:hover,
.hostels-by-rating:hover {
	color: #a8c9df;
	border-bottom: dotted 1px #81b3d2;
}

.hostels-by-price:active,
.hostels-by-type:active,
.hostels-by-rating:active {
	border: none;
	color: #000;
}

.filter-active {
	color: #a8c9df;
	border: none;
}

.hostels ul {
	list-style: none;
}

.hotel-name {
	font-weight: 700;
	font-size: 21px;
	line-height: 26px;
	color: #000;
}

.hotel-name:hover {
	color: #81b3d2;
}

.hotel-name:active {
	color: #cacaca;
}

.inner-button {
	font-weight: 700;
	color: #fff;

}


.main-footer {
	background-color: rgba(252,252,251,0.7);
}

.main-footer p {
	font-weight: 700;
	font-size: 21px;
	line-height: 26px;
}

.main-footer b {
	font-weight: 400;
	line-height: 26px;
}

.main-footer a:hover {
	color: #cacaca;
}

.social ul{
	list-style: none;
}

.social a {
	background-color: #81b3d2;
}

.social a:hover {
	background-color: #669ec0;
}

.social a:active {
	background-color: #5496bd;
}

.htmlacademy-logo:hover img{
	color: #fff;
}


.visualy-hidden {
	display: none;
}

/* ----- Стили сеток ----- */

html,
body {
	min-width: 768px;
}


.head {
	height: 55px;
}

.navigation {
	height: 55px;
	display: flex;
	align-items: center;
}

.navigation-wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	padding: 0 6%;
}

.logo-place {
	width: 138px;
	height: 55px;
}

.left,
.right {
	padding: 0;
	margin: 0;
	min-height: 55px;
	display: flex;
	width: 40%;
	align-items: center;
	text-align: left;
}

.right {
	text-align: right;
}

.logo-header {
	position: absolute;
}

.intro {
	height: 725px;
	display: flex;
	flex-direction: column;
	align-items: center;
	/*padding-top: 510px;*/
}

.intro::before {
	content: "";
	width: 100%;
	height: 510px;
	background: url("../img/background-intro.jpg") no-repeat center center;
	
}

.intro h1 {
	margin-top: 0;
	margin-bottom: 35px;
}

.city-container {
	display: flex;
	width: 100%;
}

.city {
	flex-basis: 33%;
	padding: 35px 55px 55px;
}

.advantages {
	display: flex;
	justify-content: space-between;
}
.advantages div {
	flex-basis: 33%;
}

.bridge-container {
	display: flex;
}

.bridge {
	flex-basis: 33%;
	padding: 35px 55px 55px;
}

.last-reasons {
	display: flex;
	justify-content: space-between;
}

.text-field {
	display: flex;
	flex-direction: column;
	align-items: center;
}


.hotel-form {
	width: 568px;
}

.main-footer {
	display: flex;
	align-items: center;
}


.main-footer div {
	flex-basis: 33%;
	text-align: center;
	vertical-align: middle;
}


/* ----- Сетка отелей ----- */

.filter {
	padding: 0 6%;
	display: flex;
	width: 100%;

} 

.filter-form {
	display: flex;
	margin-top: 30px;
	/*justify-content: space-around;*/
	width: 100%;
}

.filter-form fieldset {
	margin: 0;
	padding: 0;
	margin-right: 95px;
}

.filter-form li {
	margin-top: 25px;
}

.filter-form ul {
	margin: 0;
	padding: 0;
	margin-bottom: 30px;

}

.price-container {
	width: 225px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hostels {
	display: flex;
	flex-direction: column;
}

.filter-title {
	display: flex;
	padding: 0 6%;
	align-items: center;
	height: 87px;
}

.filter-title a {	
	margin-left: 30px;
}

.count-find {
	margin-right: 50px;
}

.hostels-list img {
	margin-right: 30px;
}

.hostels-item {
	display: flex;
	height: 150px;
	padding-top: 33px;
	padding-bottom: 33px;
}

.item-container {
	width: 260px;
	height: 95px;
	flex-direction: row;
}

.item-container h3 {
	margin: 0;
	margin-bottom: 10px;
}

.hotel-type-container span {
	margin-right: 40px;
}

/* .navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 6%;
	*/
