body {
	margin: 0 auto ;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase; 
    color: #333;
    background-color: #f2f2f2;
    box-shadow: 0 5px 15px rgba(0,1,1,0.2);
    max-width: 1200px;   
    position: relative;
    letter-spacing: 0.007em;
}

html {
	box-sizing: border-box; 
}

*, 
*::before,
 *::after { 
 	box-sizing: inherit; 
 }

.inner-page {
	
	background-color: #fefefe;
	/* background-image: url("../img/hotel_background.jpg");
	background-repeat: no-repeat;
	background-position: top -240px center; */
	/*background-size: cover;*/

 }

a {
	text-decoration: none;
}

.navigation {
	line-height: 26px;
	font-weight: 700;
	color: #000;
	background-color: #ffffff;
}

.left,
.right {
	list-style: none;
}

.left a,
.right a {
	color: #000;
}

.left a:hover,
.left a:focus,
.right a:hover,
.right a:focus {
	color: #81b3d2;
}

.left a:active,
.right a:active {
	color: #cacaca;
}

.main {
	text-align: center;
	background-color: #fff;
}

.intro {
	line-height: 26px;
}

.intro h1{
	font-size: 21px;
}

.city,
.bridge {
	color: #fff;
	background-color: #81b3d2;
}

.city h3,
.bridge h3,
.last-reasons h3,
.advantages h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
}
.main b {
	font-weight: 400;
}

.last-reasons {
	background-color: #eeeeee; 
}

.text-field .question  {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	margin-top: 49px;
}
.text-form {
	text-align: center;
	line-height: 24px;
	margin-bottom: 47px;
	margin-top: 23px;
	width: 440px;

}

.button {
	font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    border: none;
    color: #fff;

}

.find-hotels label{
	color: #000;
	font-weight: 700;
	line-height: 26px;
}

.find-hotels-btn {
	font-size: 21px;
	background-color: #766357;
	width: 569px;
	height: 85px;
	padding: 0;
}

.find-hotels-btn:hover {
	background-color: #604e43;
}

.find-hotels-btn:active {
	color: #827872;
	background-color: #503e33;
}

.submit-btn {
	background-color: #81b3d2;
}

.submit-btn:hover {
	background-color: #669ec0;
}

.submit-btn:active {
	color: #68a0c3;
	background-color: #5496bd;
}

.find-hotels input {
	font: inherit;
	border: none;
	background-color: #f2f2f2;
	line-height: 26px;
	font-weight: 700;
}

.find-hotels input:hover {
	background-color: #ebebeb;
}

.find-hotels input:focus {
	background-color: #ffffff;
	border: solid 3px #eee;
}



/* ----- Hotels -----*/

.inner-page .current-page {
	color: #978a83;
}

.filter {
	color:#fff;
}

.filter legend {
	font-size: 16px;
	font-weight: 700;
}

.filter fieldset {
	border: none;
}

.filter ul {
	list-style: none;
}

.filter input:disabled + label {
	color: #6a6a6a;
}

.hostels {
	background: #fefefe
}

.filter-price {
	font-size: 16px;
	font-weight: 700;
}

.count-find {
	font-weight: 700;
	font-size: 21px;
	line-height: 26px;
}

.btn-transparent {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	border: 3px solid #fff;
	border-radius: 5%;
	background-color: transparent;
	width: 132px;
	min-height: 32px;
}

.btn-transparent:hover {
	background-color: #fff;
	color: #000;
}

.hostels-sort,
.hostels-by-price,
.hostels-by-type,
.hostels-by-rating,
.sort-ascending,
.sort-by-decreasing {
	font-size: 12px;
	line-height: 18px;
}
 
.hostels-by-price,
.hostels-by-type,
.hostels-by-rating {
	color: #cacaca;
	border-bottom: dotted 1px #81b3d2;
}

.hostels-by-price:hover,
.hostels-by-type:hover,
.hostels-by-rating:hover {
	color: #a8c9df;
	border-bottom: dotted 1px #81b3d2;
}

.hostels-by-price:active,
.hostels-by-type:active,
.hostels-by-rating:active {
	border: none;
	color: #000;
}

.filter-active {
	color: #a8c9df;
	border: none;
}

.hostels ul {
	list-style: none;
}

.hotel-name {
	font-weight: 700;
	font-size: 21px;
	line-height: 26px;
	color: #000;
}

.hotel-name:hover {
	color: #81b3d2;
}

.hotel-name:active {
	color: #cacaca;
}

.inner-button {
	font-weight: 700;
	color: #fff;
	padding: 5px 17px;
	margin-right: 3px;
}

.booking-btn {
	background-color: #766357;
}


.main-footer {
	background-color: rgba(252,252,251,0.7);
}

.main-footer p {
	font-weight: 700;
	font-size: 21px;
	line-height: 26px;
}

.main-footer b {
	font-weight: 400;
	line-height: 26px;
}

.main-footer a:hover {
	color: #cacaca;
}

.social ul{
	list-style: none;
}


.social a:hover {
	background-color: #669ec0;
}

.social a:active {
	background-color: #5496bd;
}



.visualy-hidden {
	display: none;
}

/* ----- Стили сеток ----- */

html,
body {
	min-width: 768px;
}



.head {
	min-height: 55px;
}

.navigation {
	height: 55px;
	display: flex;
	align-items: center;
}

.navigation-wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	padding: 0 6%;
	justify-content: space-between;
}

.left,
.right {
	padding: 0;
	margin: 0;
	min-height: 56px;
	display: flex;
	width: 46%;
	align-items: center;
	text-align: left;
}
/* ---- изменения -----*/
.left li,
.right li {
	width: 50%;
}

.city-container p,
.bridge-container p {
	margin-top: 22px;
	margin-bottom: 0;
}
/*----- конец -----*/
.right {
	text-align: right;
}

.logo-header {
	position: absolute;
	left: 44.3%;
	top: 1px;
}

.intro {
	min-height: 725px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.intro::before {
	content: "";
	width: 100%;
	height: 510px;
	background-image: url("../img/nice-text.png"), url("../img/shape-header.png"), url("../img/background.jpg");
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position:center center, bottom 0px center, top -80px center;
}

.intro h1 {
	margin-top: 60px;
	margin-bottom: 27px;
}

.city-container {
	display: flex;
	width: 100%;
}

.city {
	flex-basis: 33%;
	padding: 28px 55px 59px;
}

.city-container::after {
	content: "";
	width: 100%;
	flex-basis: 67%;
	background-image: url("../img/city1.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.advantages {
	display: flex;
	justify-content: space-between;
}
.advantages div {
	flex-basis: 33%;
	padding-top: 135px;
	padding-bottom: 70px;
	padding-left: 4.2%;
	padding-right: 4%;
	position: relative;
}

.advantages div:nth-of-type(1)::before {
	background-image: url("../img/icon-1.svg");
}

.advantages div:nth-of-type(2)::before {
	background-image: url("../img/icon-3.svg");
}

.advantages div:nth-of-type(3)::before {
	background-image: url("../img/icon-2.svg");
}

.advantages div::before {
	content: '';
	position: absolute;
	width: 76px;
	height: 76px;
	margin-left: -38px;
	top: 60px;
	background-repeat: no-repeat;
	background-position: center center;
}

.advantages h3 {
	margin-top: 25px;
}

.advantages p {
	margin-top: 25px; 
}

.bridge-container {
	display: flex;
}

.bridge {
	flex-basis: 33%;
	padding: 25px 3.7% 60px;
}

.bridge-container::before {
	content: "";
	width: 100%;
	flex-basis: 67%;
	background-image: url("../img/bridge1.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.last-reasons {
	display: flex;
	justify-content: space-around;
}
/* изменить */
.last-reasons div {
	flex-basis: 33%;
}

.last-reasons div:nth-of-type(1) {
	padding: 48px 7.4% 60px;
}

.last-reasons div:nth-of-type(2) {
	padding: 48px 5.4% 60px;
}

.last-reasons div:nth-of-type(3) {
	padding: 48px 5.9% 60px;
}

.last-reasons h3 {
	margin-top: 0;
	margin-bottom: 26px;
}


.last-reasons p {
	margin-bottom: 0;
	margin-top: 20px;
}



.text-field {
	display: flex;
	flex-direction: column;
	align-items: center;
}


.hotel-form {
	width: 568px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.main-footer {
	display: flex;
	align-items: center;
	min-height: 120px;
	justify-content: space-between;
}


.main-footer div {
	flex-basis: 33%;
	text-align: center;
	vertical-align: middle;
	justify-content: center;
}

.social ul {
	display: flex;
	justify-content: center;
	width: 150px;
	margin: 0 auto;
	padding-left: 0;
	flex-wrap: wrap;
  	justify-content: space-between;
}

.social-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 46px;
	height: 48px;
	background-color: #81b3d2;
}


.authors {
	height: 120px;
	vertical-align: middle;
	padding-top: 40px;
	text-align: center;
}

.authors  b{
	display: inline-block;
	height: 40px;
	vertical-align: top ;
	margin-right: 7px;
	padding-top: 3px
}


.social-icons {
	fill: #fff;
}

.social-btn:active .social-icons {
	fill: #88b6d1;
}

.htmlacademy-logo {
	display: inline-block;
	height: 40px;
}

.htmlacademy-logo:hover .icon-html,
.htmlacademy-logo:focus .icon-html {
	fill: #81b3d2;
}

.htmlacademy-logo:active .icon-html {
	fill: #bdbbbc;
}


/* ----- Сетка отелей ----- */

.filter {
	padding: 0 6%;
	display: flex;
	width: 100%;
	background-image: url("../img/hotel_background.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

} 

.filter-form {
	display: flex;
	margin-top: 28px;
	width: 100%;
}

.filter-form fieldset {
	margin: 0;
	padding: 0;
	margin-right: 11%;
}


.filter-form ul {
	margin: 0;
	padding: 0;
	margin-bottom: 30px;
}

.filter-option {
	margin-top: 25px;
	padding-left: 42px;
}

.filter-option label {
    position: relative;

    display: block;

    cursor: pointer;
    user-select: none;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    background: url("../img/checkbox-off.svg");
    left: -40px;
    top: 0;
    width: 23px;
    height: 23px; 
}

.filter-input-checkbox:checked + label::before {
    content: "";
	background: url("../img/checkbox-on.svg");
	z-index: 1;
    position: absolute;
    width: 27px;
    height: 23px;
    left: -40px;
    top: 0;
}


.filter-range {
 	width: 316px;
  	color: #ffffff;
 	text-transform: uppercase;
 	margin: 0 auto;
 	margin-right: 0;
}

.filter-range-title {
 	margin-bottom: 9px;

 	font-weight: 600;
 	font-size: 16px;
 	line-height: 21px;
}

.price-controls {
	position: relative;
 	height: 35px;
 	margin-bottom: 21px;
 	font-size: 0;
 	border: 2px solid #ffffff;
 	border-radius: 2px;

}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
 	display: inline-block;

 	font-size: 14px;
 	line-height: 38px;
 	vertical-align: top;
	cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
 	width: 47%;
 	padding-left: 20%;
}

.price-controls input {
 	width: 45px;
 	margin: 0;

 	color: inherit;
	font: inherit;

    background: none;
    border: none;
}

.range-controls {
	position: relative;

    margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;

	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;

    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -11px;
    width: 23px;
    height: 27px;
    background: url(../img/filter-button.svg) no-repeat center center;
    cursor: pointer;
}

.range-toggle:hover {
	background-size: 103%;
}

.range-toggle-min {
 	left: -5px;
}

.range-toggle-max {
  	left: 79%;
}

.btn-transparent {
  	display: block;
  	margin: 0 auto;
  	margin-right: 30%;
  	padding: 5px 33px; 
  	font-size: 14px;
  	line-height: 20px;
  	color: #ffffff;
  	text-transform: uppercase;

  	background: transparent;
  	border: 2px solid #ffffff;
  	border-radius: 2px;
  	cursor: pointer;
}

.btn-transparent:hover {
  	color: #000000;

  	background: #ffffff;
}


















.hostels {
	display: flex;
	flex-direction: column;
}

.filter-title {
	display: flex;
	padding: 0 6%;
	align-items: center;
	height: 87px;
}

.filter-title a {	
	margin-left: 33px;
}

.hostels-by-price {
	margin-left: 44px;
}

.count-find {
	margin-right: 50px;
}

.sort-icons {
	margin: 0 auto;
	margin-right: 0;
}

.sort-icons a {
	margin-left: 12px;
}

.sort-by-decreasing:hover path,
.sort-by-decreasing:focus path,
.sort-ascending:hover path,
.sort-ascending:focus path {
	fill: #231F20;
}

.active path,
.sort-by-decreasing:active path,
.sort-ascending:active path {
	fill: #81b3d2;
}

.hostels-list {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0; 
}

.hostels-list img {
	margin-right: 30px;
}

.hostels-item {
	display: flex;
	height: 150px;
	padding-top: 30px;
	padding-right: 6%;
	padding-left: 6%; 
	padding-bottom: 30px;
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
	border-collapse: collapse;
}

.item-container {
	min-width: 260px;
	min-height: 95px;
	flex-direction: row;
}

.item-container h3 {
	margin: 0;
	margin-bottom: 8px;
	margin-top: -5px;
}

.hotel-type-container {
	display: flex;
	margin-bottom: 16px;
}


.hotel-type-container span:first-child {
	min-width: 115px;
}

.rating-container {
	margin: 0 auto;
	margin-right: 0;
}

.rating-container p {
	margin-bottom: 45px;
	margin-top: -3px;
	text-align: right;
}

.stars img {
	margin-left: 0;
	margin-right: 0; 
}

.rating-container span {
	padding: 4px 15px;
	color: #939393;
	background-color: #f2f2f2;
}







/* ----- Форма ----- */

.map {
	height: 595px;
	background-color: red;
	background: url("../img/map.jpg") no-repeat;
	background-position: top -150px center;
}

.hotel-form {
	position: relative;
}

.find-hotels {
	width: 100%;
	position: absolute;
	background-color: #fff;
	padding: 56px 55px;
	padding-top: ;
}

.find-hotels p {
	margin: 0;
	margin-bottom: 29px; 
}

.date-in,
.date-out {
	display: flex;
	justify-content: center;
	text-align: left;
	align-items: center;
}

.date-in label,
.date-out label {
	padding-left: 3px;
}

.find-hotels input {
	padding-left: 13px;
	/*padding-top: 13px;*/
	text-transform: uppercase;
	margin-right: 0;
	width: 345px;
	height: 38px;
}

.find-hotels label {
	width: 113px;
	cursor: pointer;
	letter-spacing: 0.007em;
}


.find-hotels .count,
.find-hotels .find {
	margin: 0;
}

.count {
	display: flex;
	width: 100%;
}

.count-child,
.count-adults {
	width: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: left;
}

.count-child {
	text-align: center;
}

.count-wrapper {
	display: flex;
}

.count-child label {
	padding-left: 30px;
}

.count-adults .count-wrapper {
	padding-right: 2px;
}

.count-wrapper button {
	position: relative;
	width: 38px;
	height: 38px;
	background-color: #f2f2f2;
}

.count-wrapper .less-btn::before {
	content: "";
	width: 11px;
	height: 3px;
	position: absolute;
	left: 13px;
	background-color: #a9a9a9;
}

.count-wrapper .more-btn::before,
.count-wrapper .more-btn::after {
	content: "";
	width: 11px;
	height: 3px;
	position: absolute;
	left: 13px;
	background-color: #a9a9a9;

}

.count-wrapper .more-btn::before {
	transform: rotate(90deg);
}


.count-wrapper .less-btn:hover::before,
.count-wrapper .less-btn:focus::before,
.count-wrapper .more-btn:hover::before,
.count-wrapper .more-btn:hover::after,
.count-wrapper .more-btn:focus::before,
.count-wrapper .more-btn:focus::after {
	background-color: #000;
}

.count-wrapper .less-btn:active::before,
.count-wrapper .more-btn:active::before,
.count-wrapper .more-btn:active::after {
	background-color: #81b3d2;
}



.count-wrapper input {
	width: 38px;
	height: 38px;
	padding-left: 15px;
}


.find-btn {
	font-size: 21px;
	width: 460px;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: #81b3d2;
	margin-top: 55px;
}

.find-btn:hover,
.find-btn:focus {
	background-color: #669ec0;
}

.find-btn:active {
	background-color: #5496bd;
	color: #85b0cd;
}

.main-page-footer {
	position: absolute;
	width: 100%;
	bottom: 0;

}


/* ----- Тест календариков ----- */



.calendar {
	fill: #a9a9a9;
	position: absolute;
	right: 64px;
}


input[class="input-date-in"]:hover + .calendar,
input[class="input-date-in"]:focus + .calendar,
input[class="input-date-out"]:hover + .calendar,
input[class="input-date-out"]:focus + .calendar {
	fill: #000;
}

input[class="input-date-in"]:active + .calendar,
input[class="input-date-out"]:active + .calendar {
	fill: #86b6d4;
}
